:root {
    --verde: #49a09d;
    --roxo: #5f2c82;
    --fonte-padrao: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    font-family: var(--fonte-padrao);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    background-color: var(--roxo);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

main section#login {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.597);
    background-color: white;
    border-radius: 20px;
    height: 500px;
    width: 250px;

    transition: width 1s, height 1s;
}

main section#login div#imagem {
    background: var(--roxo) url("assets/password.png") no-repeat center center;
    background-size: cover;
    border-radius: 20px 20px 0 0;
    height: 200px;
    display: block;
}

main section#login div#formulario {
    display: block;
    padding: 10px;
}




/* Media Queries */
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, var(--verde), var(--roxo));
    }

    main section#login {
        width: 80vw;
    }

    main section#login div#imagem {
        border-radius: 20px 0 0 20px;
        float: left;
        width: 30%;
        height: 100%;
    }

    main section#login div#formulario {
        float: right;
        width: 70%;
    }
}


@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, var(--verde), var(--roxo));
    }

    main section#login {
        width: 950px;
    }

    main section#login div#imagem {
        border-radius: 20px 0 0 20px;
        float: left;
        width: 50%;
        height: 100%;
    }

    main section#login div#formulario {
        float: right;
        width: 50%;

    }
}