:root {
    --verde: #49a09d;
    --roxo: #5f2c82;
    --fonte-padrao: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    font-family: var(--fonte-padrao);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    background-color: var(--roxo);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

main section#login {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.597);
    background-color: white;
    border-radius: 20px;
    height: 500px;
    width: 250px;

    transition: width 1s, height 1s;
}

main section#login div#imagem {
    background: var(--roxo) url("assets/password.png") no-repeat center center;
    background-size: cover;
    border-radius: 20px 20px 0 0;
    height: 200px;
    display: block;
}

main section#login div#formulario {
    display: block;
    padding: 10px;
}

main section#login div#formulario h1 {
    text-align: center;
    margin-bottom: 10px;
}

main section#login div#formulario p {
    font-size: 0.8em;
}

main section#login div#formulario form div.campo {
    background-color: var(--roxo);
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0;
}

main section#login div#formulario form div.campo .material-icons {
    color: rgb(0, 0, 0);
    position: relative;
    font-size: 2em;
    top: 5px;
    margin-left: 5px;
}

main section#login div#formulario form div.campo input {
    position: relative;
    bottom: 5px;
    background-color: var(--verde);
    border: none;
    font-size: 1em;
    width: calc(100% - 50px);
    height: 100%;
    border-radius: 5px;
}


main section#login div#formulario form input#login {
    background-color: var(--verde);
    border-radius: 5px;
    display: block;
    font-size: 1em;
    color: white;
    border: none;
    height: 40px;
    width: 100%;
    cursor: pointer;
}

main section#login div#formulario form input#login:hover {
    background-color: #306765;
}

main section#login div#formulario form a#esqueci-senha {
    display: block;
    text-align: center;
    font-size: 1.1em;
    width: 100%;
    height: 40px;
    background-color: white;
    border: 1px solid var(--verde);
    border-radius: 5px;
    text-decoration: none;
    padding-top: 5px;
    margin-top: 5px;
    color: #1f718d;
}

main section#login div#formulario form a#esqueci-senha:hover {
    background-color: #3bada9;
}

main section#login div#formulario form a#esqueci-senha span {
    position: relative;
    top: 2.5px;
    font-size: 0.8em;
    color: #1f718d;

}







/* Media Queries */
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, var(--verde), var(--roxo));
    }

    main section#login {
        width: 80vw;
    }

    main section#login div#imagem {
        border-radius: 20px 0 0 20px;
        float: left;
        width: 30%;
        height: 100%;
    }

    main section#login div#formulario {
        float: right;
        width: 70%;
    }
}


@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, var(--verde), var(--roxo));
    }

    main section#login {
        width: 950px;
    }

    main section#login div#imagem {
        border-radius: 20px 0 0 20px;
        float: left;
        width: 50%;
        height: 100%;
    }

    main section#login div#formulario {
        float: right;
        width: 50%;
    }

    main section#login div#formulario p {
        font-size: 2em;
    }

    main section#login div#formulario p {
        font-size: 1.2em;
    }
}
