:root {
    --green-background-color: #49a09d;
    --purple-background-color: #5f2c82;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--purple-background-color);
}